
/* Body */
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#f5f5f5;
}

/* Navigation */
nav{
    background-color:#222;
    color:white;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    font-size:32px;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

nav ul li a:hover{
    color:gold;
}

/* Hero Section */
section:first-of-type{
    text-align:center;
    padding:100px 50px;
    background:linear-gradient(to right,#0f2027,#203a43,#2c5364);
    color:white;
}

section:first-of-type h2{
    font-size:50px;
    margin-bottom:20px;
}

section:first-of-type p{
    font-size:20px;
    margin-bottom:30px;
}

section:first-of-type button{
    background-color:gold;
    color:black;
    border:none;
    padding:15px 35px;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
}

/* Common Sections */
section{
    padding:60px;
    text-align:center;
}

section h2{
    margin-bottom:20px;
    font-size:36px;
}

section p{
    font-size:18px;
    line-height:1.6;
}

/* Service Boxes */
div{
    background:white;
    margin:20px auto;
    padding:20px;
    width:300px;
    border-radius:10px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.2);
}

/* Footer */
footer{
    background-color:#222;
    color:white;
    text-align:center;
    padding:20px;
}